<form action="/vote" method="get">

<div style="font-size:34px;background-color:#eee;padding:15px;">
  For someone tagged <b><%= params[:tags] %></b> you should get:
  <br />
  <div style="font-size:14px;">
  &raquo; Do you like this recommendation?
  
    <input type="hidden" name="asin" value="<%= @item.asin %>" >
    <input type="hidden" name="like" value="true" >
    <input type="hidden" name="tags" value="<%= params[:tags] %>" >
  
<input type="submit" name="submit" value="Yes"> 
or
<input type="submit" name="submit" value="No"> 
or
<a href="/"><input type="button" value="Start Over"></a>
  </div>
</div>
</form>


<br>
<a onclick="doGoal('<%= @item.referral_url %>')" href="<%= @item.referral_url %>" style="color:#000;text-decoration:none;">

<div style="font-size:54px;">

<b>
<%= @item.title %> 
<% if @item.author %> by <%= @item.author %><% end %> 
<% if @item.artist %> by <%= @item.artist %><% end %></b>
<%= @item.price %>

<span style="color:black;text-decoration:none;font-size:30px;background-color:pink;padding-left:20px;padding-right:20px;">more info</span>
</div>


</a>