<div style="font-size:34px;background-color:#eee;padding:15px;">
  For someone tagged <b><%= session[:tags] %></b> you should get:
</div>

<br>
<div style="font-size:54px;">

<b>
<%= @item.title %> 
<% if @item.author %> by <%= @item.author %><% end %> 
<% if @item.artist %> by <%= @item.artist %><% end %></b>
<%= @item.price %>
<a href="<%= @item.referral_url %>" style="color:black;text-decoration:none;font-size:30px;background-color:pink;padding-left:40px;padding-right:40px;">more info</a>
</div>

<br /><br />

<div style="">
  <form action="/vote" method="get">
    <input type="hidden" name="asin" value="<%= @item.asin %>" >
    <input type="hidden" name="like" value="true" >
    <input type="hidden" name="tags" value="<%= params[:tags] %>" >
  
<input type="submit" name="submit" value="i don't want to get this"> 
or
<input type="submit" name="submit" value="i might get this"> 
or
<a href="/"><input type="button" value="start over"></a>
  </form>
  
</div>

