<div style="width:800px;">

<form action="give" method="get">
  
<style>
body {font: 18px helvetica;}
table {width: 300px;}
table th {font-size: 24px;font-weight:bold;color:#000;}
table td {font-size: 18px;}
h2 {margin-bottom:5;}
</style>

<div style="background-color: #777;color:#fff;padding:20px;width:850px;margin-bottom:10px;font-size:24px;">
<b>What is it?</b> <span style="font-size:20px;">The Gift Machine is Pandora for Shopping.</span>
</div>

<div style="background-color: #eee;padding:20px;width:850px;">
<span style="font-size:22px;">Describe the person you're shopping for with tags.  The more tags you enter the better your recommendation will be.</span>

<br /><br />

<input type="text" name="tags" style="width: 800px; font-size:34px;" value="boyfriend, mid-twenties, artistic, golfer"></textarea>

<input type="hidden" name="page" value="0">
<p style="text-align:center;"><input type="submit" value="Start looking for the perfect gift"></p>
</form>
</div>

<h2>Recent Picks</h2>
<div style="font-size:20px;line-height:1.8em;width:1000px;">

<% @surveys.each do |survey| %>
  <a href="<%= survey.item.url %>&tag=scriptfurnace-20"><%= survey.item.title %></a> for someone tagged 
  <% survey.tag_list.each do |tag| %>
    <a href="/tags/<%= tag %>"><%= tag %></a><% end %>.
  <br />
<% end %>
</div>



</div>

</span>
</div>

<h2>Top Tags</h2>

<% @tags.each do |tag| %>

<a href="/tags/<%= tag.name %>"><%= tag.name %></a>
<% end %>
