<div style="width:800px;">

<form action="give" method="get">
  
<style>
body {font: helvetica;}
table {width: 300px;}
table th {font-size: 24px;font-weight:bold;color:#000;}
table td {font-size: 18px;}
</style>

<h2>Describe the person you're shopping for with tags.  The more tags you enter the better your recommendation will be.</h2>

<input type="text" name="tags" style="width: 800px; font-size:34px;" value="boyfriend, mid-twenties, artistic, golfer"></textarea>

<h2>What sort of things do they like shopping for?</h2>

<table style="width: 800px;">
  <tr>
    <td><input type="checkbox" name="type[]" value="283155" checked></td><td>Books</td>
    <td><input type="checkbox" name="type[]" value="130" checked></td><td>Movies & TV</td>
    <td><input type="checkbox" name="type[]" value="5174" checked></td><td>Music</td>
    <td><input type="checkbox" name="type[]" value="468642" checked></td><td>Video Games</td>
    <td><input type="checkbox" name="type[]" value="229534" checked></td><td>Computer Software</td>
  </tr>
  <tr>
    <td><input type="checkbox" name="type[]" value="1722821266092011" checked></td><td>TV & Video</td>
    <td><input type="checkbox" name="type[]" value="667846011" checked></td><td>Home Audio & Theater</td>
    <td><input type="checkbox" name="type[]" value="172630" checked></td><td>MP3 Players</td>
    <td><input type="checkbox" name="type[]" value="1077068" checked></td><td>Car Electronics</td>
    <td><input type="checkbox" name="type[]" value="361395011" checked></td><td>Home Appliances</td>
  </tr>
  <tr>
    <td><input type="checkbox" name="type[]" value="284507" checked></td><td>Kitchen</td>
    <td><input type="checkbox" name="type[]" value="1057794" checked></td><td>Furniture and Decor</td>
    <td><input type="checkbox" name="type[]" value="12890711" checked></td><td>Craft and Hobby</td>
    <td><input type="checkbox" name="type[]" value="1036592" checked></td><td>Apparel</td>
    <td><input type="checkbox" name="type[]" value="228013" checked></td><td>Tools</td>
  </tr>
  <tr>
    <td><input type="checkbox" name="type[]" value="3375251" checked></td><td>Sports</td>
    <td><input type="checkbox" name="type[]" value="3367581" checked></td><td>Jewelry</td>
    <td><input type="checkbox" name="type[]" value="3370831" checked></td><td>Food</td>
  </tr>  
</table>

<input type="hidden" name="page" value="0">
<p><input type="submit" value="Find the Perfect Gift"></p>
</form>

<hr>
<h2>Recent Picks</h2>
<div style="font-size:20px;">

<% @surveys.each do |survey| %>
  A shopper picked <a href="<%= survey.item.url %>"><%= survey.item.title %></a> for someone tagged 
  <% survey.tag_list.each do |tag| %>
    <a href="/tags/<%= tag %>"><%= tag %></a>
  <% end %>.
  <br />
  <br />
<% end %>
</div>



</div>

</span>
</div>

<div style="position:absolute;right:0;top:40;background-color:#eee;padding:40px;font-size:20px;">
<h2>Top Tags</h2>

<% @tags.each do |tag| %>

<a href="/tags/<%= tag.name %>"><%= tag.name %></a><br>
<% end %>
</div>